Cake.NScan independentOf project:NScan.Console
NScan.Console independentOf project:Cake.NScan
NScan.Adapter.* except NScan.Adapter.*Specification independentOf project:NScan.Adapter.*
* hasCorrectNamespaces
* hasNoCircularUsings
* hasAttributesOn *Specification:Should*
NScan.*Rules independentOf project:NScan.*Rules
* hasProperty Nullable:enable
* hasProperty WarningsAsErrors:nullable