*Cake.NScan* independentOf project:NScan.Console
*NScan.Console* independentOf project:Cake.NScan
*Test.Project* independentOf assembly:*Cake*
*NScan.Specification* independentOf package:*xunit*
NScan.Domain* independentOf project:NScan.Adapter*
NScan.Domain.* independentOf project:NScan.Domain*
NScan.Adapter* independentOf project:NScan.Adapter*
* independentOf project:*Specification
* hasCorrectNamespaces
* hasNoCircularUsings
* hasAttributesOn *Specification:Should*
NScanSpecification.Component hasNoUsings from NScanSpecification.Component* to NScanSpecification.Component*